/*Body styling*/
body {
  font-family: Helvetica;
  text-align: center;
  font-size: 11px;
}

/*Banner styling*/
.banner {
  background-image: url("../images/the-flatiron-building.png");
  color: #FFFFFF;
}

/*Header styling*/
h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

/*Navigation list styling*/
ul {
  font-size: 18px;
  /*Removes text indent and bullet points*/
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
}

li {
  margin: 12px;
}

a {
  color: #FFFFFF;
  padding: 2px;
}
